// Colors
$primary-color: #2d1910;
$secondary-color: #e2d1c2;
$additional-color: #fff;

//Font
$primary-font: 'Inter', sans-serif;

//Others
$border-radius: 8px;
$gap: 25px;
$spacing-small: 25px;
$spacing-big: 35px;
