@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.homePage {
  @include m.flex-main;

  &__hero {
    flex: 0 0 20%;
    min-height: 120px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__header {
    font-weight: 600;
    font-size: 55px;
    color: v.$primary-color;
    margin: auto;
  }
}

.lastRecords {
  flex: 1;

  &__title {
    @include m.text($weight: 600);
    margin-bottom: 20px;
  }
}
